.vermell {
  color: red;
}

div.quadrat {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: 4px;
  background-color: red;
}
.prueba{
  width: 400px;
}
div.celda{
  position: relative;
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: 2px;
  border: 2px solid black;
}
div.celdaBlanca{
  position: relative;
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: 2px;
}